$beat: "betatron" !important ;
$mont: "montserrat";
$grad: linear-gradient(90deg, #ed752f, #da5f7e 47.92%, #2f77f4);
@import url(./Betatron-Regular-Web/Betatron-Regular.woff);
@import url(./Betatron-Regular-Web/Betatron-Regular.woff2);
@import url(./stylesheet-family-support.css);
@import url(./stylesheet-individual-weights.css);
@font-face {
  font-family: "Betatron-Regular";
  src: url("Betatron-Regular.woff2") format("woff2"),
    url("Betatron-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Betatron";
  src: url("Betatron-Regular.woff2") format("woff2"),
    url("Betatron-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

// @font-face {
//   font-family: "Betatron-Regular";
//   src: url(./Betatron-Regular.otf);
//   src: url(./betatron/Betatron-Regular.otf);
// }
// @import url(./Betatron-Regular.otf);
@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&family=Lato:wght@100;300;400;700&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700&family=Sedgwick+Ave&family=Signika:wght@300;400;500;600;700&display=swap");

body {
  font-family: "Betatron", "Betatron-Regular";
}
html {
  scroll-behavior: smooth;
}
* {
  transition: 0.3s all ease-in-out;
}

nav.navbar {
  background-color: transparent !important;
  padding: 20px 40px !important;
  position: fixed;
  width: 100%;
  backdrop-filter: blur(15px);
}
.navbar-brand {
  color: white !important;
  font-family: $mont;
  font-weight: 600;
  &:hover {
    transition: all 0.1s ease-in-out;
    text-shadow: 1px 1px 0px #2f77f4, -1px 2px 0px #da5f7e,
      -1px -1px 0px #ed752f94;
  }
}
.navbar-toggler-icon {
  filter: invert(1);
  z-index: 20 !important;
  position: absolute;
}
@media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    flex-grow: 0.6;
  }
}

ul li a {
  color: white !important;
  font-family: $mont !important;
  font-size: 14px !important    ;
  // display: inline-flex;
  transition: all 0.5s ease-in-out;
  animation: flickw 4s ease-in-out infinite forwards normal !important;
  // animation: flick 4s ease-in-out infinite;

  &:hover {
    border-left: 5px solid white !important;
    transition: all 0.1s ease-in-out;
    text-shadow: 1px 1px 0px #2f77f4, -1px 2px 0px #da5f7e,
      -1px -1px 0px #ed752f94;
    // color: red !important;
    // animation: flickw 4s ease-in-out infinite forwards normal;
  }
}

body {
  background-color: black !important;
}

.hero-txt {
  height: 100vh;
  padding: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;

  .link_txt {
    display: flex;
    width: 80%;
    justify-content: space-between;
    a {
      text-decoration: underline;
      color: white !important;
    }
    p {
      width: 40%;
      color: white;
    }
  }
  .main {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 80vh;
    padding-top: 50px;
    h3 {
      font-size: 2em;
      color: white;
    }
    h1 {
      font-family: $beat;
      font-size: 12em !important;
      color: white !important;
      line-height: 1;
      overflow: hidden;
      height: auto;
      transition: all 0.3s ease-in-out;
      &:hover {
        color: rgba(219, 129, 129, 0) !important;
        -webkit-text-stroke: 2px rgb(255, 255, 255);
      }
      span {
        color: rgba(219, 129, 129, 0);
        -webkit-text-stroke: 2px rgb(255, 255, 255);
        transition: all 0.5s ease-in-out;
        &:hover {
          color: rgb(255, 255, 255);
        }
      }
    }
  }

  .marquee {
    position: fixed;
    right: -200px;
    top: 280px;
    // z-index: 30;
    width: 600px;
    height: 80px;
    background: $grad;
    display: flex;
    align-items: center;
    // justify-content: center;
    // flex-direction: row;
    transform: rotate(90deg);
    overflow: hidden;
    .marquee-txt {
      //   width: 100%;
      animation: slide 7s linear infinite forwards normal;
      font-family: $beat;
      // margin: auto;
      display: flex;
      h3 {
        font-size: 3.4em;
        width: 700px;
      }

      a {
        text-decoration: none;
        color: black !important;
        width: 100%;
        // font-size: 2em;
        // width: 600px;
      }
    }
    @keyframes slide {
      0% {
        transform: translateX(0);
      }
      100% {
        transform: translateX(200px);
      }
    }
  }
}

// Seccond Section/./../////////////////////////////////////////

section.sec2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    color: white !important;
    font-family: $beat;
    width: 60%;
    font-size: 3em !important;
    text-align: center;
  }
  p {
    color: white !important;
    width: 50%;
    text-align: center;
  }

  video {
    padding: 20px;
    width: 60%;
    transition: all 0.1s ease-in-out;
    box-shadow: 1px 1px 10px #2f77f4, -1px 2px 10px #da5f7e,
      -1px -1px 10px #ed752f94;
    // border: 3px solid white;
    margin-bottom: 30px;
  }
}
@media screen {
}

// CARDS SECTION/////////////////////////////////////////////////////
section.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  padding-top: 150px;
  position: relative;

  .serv {
    position: absolute;
    top: 0;
    left: 0;
    padding: 40px;
    h1 {
      text-decoration: underline;
      font-family: $beat;
      color: transparent;
      -webkit-text-stroke: 1px rgb(255, 255, 255);
    }
  }

  .cardwr {
    padding: 40px;
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    // z-index: ;
    .card {
      background-color: black !important;
      width: 300px;
      height: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      justify-content: center;
      z-index: 20;
      padding-top: 10px;
      transition: all 0.5s ease-in-out;
      &:hover {
        background-color: white !important;
        color: black;
        h2 {
          color: #2f77f4;
        }

        img {
          filter: invert(0);
          width: 65px;
        }
      }

      // &::after {
      //   content: "";
      //   width: 300px;
      //   transform: rotate(10deg);
      //   height: 300px;
      //   position: absolute;
      //   background-color: white;
      //   // z-index: -2;
      // }
      h2 {
        text-align: center;
        font-family: $beat;
      }
      p {
        width: 70%;
        font-family: $mont;
        text-align: center;
      }
      img {
        width: 60px;
        filter: invert(1);
        transition: 0.2s all ease;
      }
    }
  }
}

// THE FORM SEC|TION.////////////////////////////////////////////////

section.form {
  font-family: $mont;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  .home {
    a {
      text-decoration: none;
      color: white;
      text-decoration: underline;
      position: absolute;
      left: 0;
      padding: 30px;
      font-size: 2em;
      font-weight: 500;
      text-underline-offset: 10px;
      text-decoration-thickness: 3px;
      top: 0;
    }
  }
  .footwr {
    width: 50%;
    height: 70vh;
    background-color: white;
    padding: 20px;
    border-radius: 9px;
  }
  form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    h2 {
      font-weight: 500;
      font-size: 2em;
    }
    .cnt {
      display: flex;
      flex-direction: column;
    }

    .hello {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px 0;
      border-bottom: 1px solid black;
      h3 {
        font-weight: 700;
        font-size: medium;
      }
    }
    .butn {
      margin-top: 10px;
      button {
        border-radius: 27px;
        padding: 10px 25px;
        border: none;
        transition: 0.2s all ease-in-out;
        background-color: #2f77f4;
        &:hover {
          border: 2px solid black;
          background-color: transparent;
        }
      }
    }
  }
}
@media (max-width: 650px) {
  section.form .footwr {
    width: 70%;
  }
}
@media (max-width: 500px) {
  section.form .footwr {
    width: 95%;
  }
}

// Section POrtf///////
section.Portf {
  color: white !important ;
  h2 {
    text-decoration: underline;
    font-family: $beat;
    color: transparent;
    -webkit-text-stroke: 1px rgb(255, 255, 255);
  }
  .works {
    padding-left: 20px;
    h1 {
      font-family: $beat;
      font-size: 5em;
    }
    .work-it {
      transition: 0.3s all ease-in-out;
      transform-origin: bottom;
      &:hover {
        background-color: white;
        color: black !important;
      }
    }
  }
}

// footer//////
footer {
  padding-top: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80vh;
  // hr {
  //   width: 90%;
  //   height: 100px;
  //   text-decoration: none;
  //   outline: white !important;
  //   border-radius: 20px;
  //   border: 3px solid white !important;
  //   background: white !important;
  //   color: white !important;
  //   -webkit-text-stroke: 2px rgb(255, 255, 255);
  // }
  h1 {
    width: 50%;
    font-size: 5em;
    text-align: center;
    font-family: $beat;
    color: white;
    margin-bottom: 50px;
    transition: all 0.1s ease-in-out;
    text-shadow: 1px 1px 0px #2f77f4, -1px 2px 0px #da5f7e,
      -1px -1px 0px #ed752f94;
    span {
      color: transparent;
      -webkit-text-stroke: 2px rgb(255, 255, 255);
      text-shadow: none;
    }
  }
  .txtwr2 {
    display: flex;
    width: 70%;
    justify-content: space-between;
    align-items: center;
    color: white !important ;
    p {
      font-family: $mont;
    }
  }
  .address {
    display: flex;
    width: 90%;
    color: white !important;
    justify-content: space-between;
    .loc {
      P {
        width: 50%;
        text-align: left;
        font-family: $mont;
      }
    }
    .mail {
      p {
        font-family: $mont;
        a {
          text-decoration: underline;
          text-underline-offset: 10px;
          text-decoration-thickness: 5px;
          color: white;
        }
      }
    }
  }
  .foot {
    width: 100%;
    display: flex;
    color: white !important;
    justify-content: space-between;
    padding: 55px;
    border-top: 2px solid white;
    z-index: 20;
    .socal {
      display: flex;
      flex-wrap: wrap;
      a {
        text-decoration: underline;
        color: white !important;
        padding-right: 10px;
        transition: 0.2s all ease-in-out;
        &:hover {
          color: #da5f7e !important;
        }
      }
    }
  }
}
@media screen {
}

@media (max-width: 1020px) {
  .hero-txt {
    .main {
      h1 {
        font-family: $beat;
        font-size: 9em !important;
      }
    }
  }
}
@media (max-width: 830px) {
  .hero-txt {
    .main {
      h1 {
        font-family: $beat;
        font-size: 7em !important;
      }
    }
  }
}
@media (max-width: 600px) {
  .hero-txt {
    .main {
      h1 {
        font-family: $beat;
        font-size: 4.5em !important;
      }
    }
  }
}
@media (max-width: 600px) {
  footer h1 {
    font-size: 4em !important;
  }
}
@media (max-width: 460px) {
  .hero-txt .link_txt {
    flex-wrap: wrap;
  }
  // .hero-txt {
  //   .main {
  //     h1 {
  //       font-family: $beat;
  //       font-size: 4.5em !important;
  //     }
  //   }
  // }
}
